@charset "UTF-8";
/* tab menu css start*/
.ax5-ui-dialog .ax-dialog-body .ax-dialog-buttons button {
	width: 80px;
}

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    width: 100%;
    font-family:"dotum";
    /*font-size:12px;*/
    font-size:11px;
}

ul.tabs label {
	padding-top: 5px;
    float: right;
}
ul.tabs li {
    float: left;
    text-align:center;
    cursor: pointer;
    /* width:82px; */
    height: 31px;
    line-height: 31px;
    border: 1px solid #eee;
    border-left: none;
    font-weight: bold;
    background: #fafafa;
    overflow: hidden;
    position: relative;
}
ul.tabs li.active {
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.tab_container {
    border: 1px solid #eee;
    border-top: none;
    clear: both;
    float: left;
    background: #FFFFFF;
    width:100%;
}
.tab_content {
    padding: 5px;
    /* font-size: 12px; */
    font-size: 11px;
    display: none;
    width: 100% !important;
}
.tab_container .tab_content ul {
    width:100%;
    margin:0px;
    padding:0px;
}
.tab_container .tab_content ul li {
    padding:5px;
    list-style:none;
}
/* tab menu css end*/

.dis-i-b {
	display: inline-block;
}
.right-menu-contents{
	width: 20%;
	height: 60px;
	line-height: 60px;
	text-align: right;
	position: fixed;
	left: 80%;
	background-color: #2F9824;
	color: white;
	top: 0;
}

.right-menu-contents-label{
	cursor: pointer;
	/* font-size: 13px; */
	font-size: 12px;
	margin-right: 5px;
}

.right-menu-contents-label:hover{
	background-color: #2CB839;
}

.title-bar{
	background: linear-gradient( to top,  #E8F8E0, white );
	width:100%;
	margin-top:4rem;
	height: 2rem;
	border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-bar>span{
	line-height: 2rem;
	vertical-align: middle;
	text-align: left;
}

.title-bar>img{
	line-height: 2rem;
	vertical-align: middle;
}

.ecams-subframe {
	width:100%;
	height:calc(100vh - 6.5rem)
}

.ecams-row {
	margin:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding:0px;
	padding-top:0px;
	padding-bottom:0px;
	padding:0px;
}

/* main */
#page_title {
	height: 75px;
	position: relative;
	border-bottom: 2px solid #666;
	margin: 0 20px;
}

#page_title>h1 {
	position: absolute;
	bottom: 11px;
	font-size: 22px;
	font-weight: bold;
	color: #444;
	display: inline-block;
}

#page_title>ol {
	position: absolute;
	bottom: 20px;
	right: 0px;
	list-style: none;
	display: inline-block;
}

#page_title>ol>li {
	display: inline-block;
}

#page_title>ol>li>a:link {
	color: #999;
	text-decoration: none;
}

#page_title>ol>li>a:hover {
	color: #103300;
	text-decoration: none;
}

#page_title>ol>li>a:active {
	color: #999;
	text-decoration: none;
}

#page_title>ol>li>a:visited {
	color: #999;
	text-decoration: none;
}

#page_title>ol>.this_page {
	color: #103300;
}

.defaultFrame {
	margin:30px 5px 0;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.search-md-background {
	height:120px;
	clear: both;
	background-color: #F4FBEF;
	border-radius: 5px;
}

.border-style-black {
	width: 100%;
	display:inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 1px;
	padding-left: 1px;
	background-color: #fff;
	border-radius: 5px;
	border:1px solid #888;
    /*
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */
}


.border-style-pull {
	width: 100%;
	display:inline-block;
	margin: 1px,1px,1px,1px;
	background-color: #F4FBEF;
	border-radius: 5px;
	border:1px solid #888888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.margin-3-top {
	margin-top: 3px;
}

.margin-5-top {
	margin-top: 5px;
}

.margin-6-top {
	margin-top: 6px;
}


.margin-7-top {
	margin-top: 7px;
}

.margin-9-top {
	margin-top: 9px;
}


.margin-10-top {
	margin-top: 10px;
}

.margin-15-top {
	margin-top: 15px;
}

.margin-17-top {
	margin-top: 17px;
}

.margin-20-top {
	margin-top: 20px;
}

.margin-25-top {
	margin-top: 25px;
}

.margin-30-top {
	margin-top: 30px;
}

.margin-35-top {
	margin-top: 35px;
}

.margin-40-top {
	margin-top: 40px;
}

.margin-5-bottom {
	margin-bottom: 5px;
}

.margin-10-bottom {
	margin-bottom: 10px;
}

.margin-15-bottom {
	margin-bottom: 15px;
}

.margin-20-bottom {
	margin-bottom: 20px;
}

.margin-25-bottom {
	margin-bottom: 25px;
}

.margin-30-bottom {
	margin-bottom: 30px;
}

.margin-35-bottom {
	margin-bottom: 35px;
}

.margin-40-bottom {
	margin-bottom: 40px;
}
.margin-3-left {
	margin-left: 3px;
}
.margin-5-left {
	margin-left: 5px;
}

.margin-10-left {
	margin-left: 10px;
}

.margin-15-left {
	margin-left: 15px;
}

.margin-20-left {
	margin-left: 20px;
}

.margin-25-left {
	margin-left: 25px;
}

.margin-30-left {
	margin-left: 30px;
}

.margin-35-left {
	margin-left: 35px;
}

.margin-40-left {
	margin-left: 40px;
}

.margin-5-right {
	margin-right: 5px;
}

.margin-10-right {
	margin-right: 10px;
}

.margin-15-right {
	margin-right: 15px;
}

.margin-20-right {
	margin-right: 20px;
}

.margin-25-right {
	margin-right: 25px;
}

.margin-30-right {
	margin-right: 30px;
}

.margin-35-right {
	margin-right: 35px;
}

.margin-40-right {
	margin-right: 40px;
}


.padding-5-left {
	padding-left: 5px;
}

.padding-10-left {
	padding-left: 10px;
}

.padding-15-left {
	padding-left: 15px;
}

.padding-20-left {
	padding-left: 20px;
}

.padding-25-left {
	padding-left: 25px;
}

.padding-30-left {
	padding-left: 30px;
}

.padding-35-left {
	padding-left: 35px;
}

.padding-40-right {
	padding-right: 40px;
}

.padding-5-right {
	padding-right: 5px;
}

.padding-10-right {
	padding-right: 10px;
}

.padding-15-right {
	padding-right: 15px;
}

.padding-20-right {
	padding-right: 20px;
}

.padding-25-right {
	padding-right: 25px;
}

.padding-30-right {
	padding-right: 30px;
}

.padding-35-right {
	padding-right: 35px;
}

.padding-40-right {
	padding-right: 40px;
}

.padding-5-top {
	padding-top: 5px;
}

.padding-10-top {
	padding-top: 10px;
}

.padding-15-top {
	padding-top: 15px;
}

.padding-20-top {
	padding-top: 20px;
}

.padding-25-top {
	padding-top: 25px;
}

.padding-30-top {
	padding-top: 30px;
}

.padding-35-top {
	padding-top: 35px;
}

.padding-40-top {
	padding-top: 40px;
}
.padding-80-top {
	padding-top: 80px;
}

.padding-5-bottom {
	padding-bottom: 5px;
}

.padding-10-bottom {
	padding-bottom: 10px;
}

.padding-15-bottom {
	padding-bottom: 15px;
}

.padding-20-bottom {
	padding-bottom: 20px;
}

.padding-25-bottom {
	padding-bottom: 25px;
}

.padding-30-bottom {
	padding-bottom: 30px;
}

.padding-35-bottom {
	padding-bottom: 35px;
}

.padding-40-bottom {
	padding-bottom: 40px;
}

.width-100 {
	width: 100%;
}

.width-95 {
	width: 95%;
}

.width-94 {
	width: 94%;
}

.width-93 {
	width: 93%;
}

.width-90 {
	width: 90%;
}

.width-80 {
	width: 80% !important;
}

.width-79 {
	width: 79%;
}

.width-78 {
	width: 78%;
}

.width-70 {
	width: 70% !important;
}

.width-63 {
	width: 63%;
}

.width-65 {
	width: 65%;
}
.width-60 {
	width: 60%;
}

.width-50 {
	width: 50% !important;
}

.width-48 {
	width: 48%;
}

.width-45 {
	width: 45%;
}

.width-43 {
	width: 43%;
}

.width-42 {
	width: 42%;
}

.width-41 {
	width: 41%;
}

.width-40 {
	width: 40% !important;
}

.width-38 {
	width: 38%;
}

.width-35 {
	width: 35%;
}

.width-33 {
	width: 33%;
}

.width-30 {
	width: 30%;
}

.width-25 {
	width: 25%;
}

.width-20 {
	width: 20%;
}

.width-15 {
	width: 15%;
}

.width-10 {
	width: 10%;
}

.width-7 {
	width: 7%;
}

.width-6 {
	width: 6%;
}

.width-5 {
	width: 5%;
}

.width-4 {
	width: 4%;
}

.width-3 {
	width: 3%;
}

.width-2 {
	width: 2%;
}
.width-1 {
	width: 1%;
}

.width-400px {
	width: 400px;
}

.width-default-btn {
	width: 100px;
}

.height-100 {
	height: 100%;
}

.height-30px {
	height: 30px;
}

.height-80px {
	height: 80px;
}

.combo-height {
	height: 30px;
	font-size: 8px;
	line-height: 15px;
}

.file-tree {
	float: left;
	height: 300px;
	width: auto;
	overflow: scroll;
	border-radius: 5px;
	border: 1px solid #888888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.file-tree-organization {
	padding: 0 !important;
	height: 290px;
	width: 95%;
	overflow: scroll;
	background-color: white;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 1px solid #888888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-div {
	float: left;
	height: 300px;
	width: auto;
}

.pull-content {
	max-height: 100%;
	max-width: 100%;
}

.no-padding {
	padding: 0 !important;
}

.text-center {
	text-align:center;
}

.text-right {
	text-align:right;
}

.text-left {
	text-align:left;
}

.xs-grid-height {
	height: 125px;
}

.sm-grid-height {
	height: 200px;
}

.md-grid-height {
	height: 250px;
}


.default-grid-height {
	height: 300px;
}

.default-border {
	border: solid 1px black;
}

.sm-font {
	/* font-size: 12px; */
	font-size: 11px;
}

.md-font {
	/* font-size: 15px; */
	font-size: 14px;
}
.pop-header {
	height: 25px;
	background-color: #2471C8;
	cursor: move;
	/*display: none;*/
}
.ax5modal .pop-header{
	display: block;
}

.pop-header > div > label{
	color: white;
	/*margin-top: 5px;*/
	font-size: 12px;
	margin-left: 10px;
	cursor: move;
}
.btn-ecams-grid {
	background-color: #fff;
	border-color: #e4e5e7;
	color: #6a6c6f;
	/* font-size: 10px; */
	font-size: 9px;
	/* margin: 0 0 10px 20px; */
	margin: 0 auto;
	border-radius: 2px;
}

.fontStyle-error {
	color: #FF00FF; /*#b21db2;*/
}
/*다홍색 0xFF8080;*/
.fontStyle-deepred {
	color: #FF8080;
}
/*주황색1 0xf16832;*/
.fontStyle-orange {
	color: #f16832;
}
.ecams-input {
	box-sizing: border-box;
    display: inline;
    height: 28px;
    padding: 6px 12px;
    /* font-size: 11px; */
    font-size: 10px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sm-div-30 {
	width: 30%;
	display: inline-block;
}

.sm-div-70 {
	width: 70%;
	display: inline-block;
}
/*    tree right menu css start
   지우지 마세요.
   트리 오른쪽메뉴 css 입니다.
   이거 없으면 안보임 테스트 불가합니다.
*/
.width-100 {
	width: 100%;
}
.width-99 {
	width: 99%;
}
.width-98 {
	width: 98%;
}
.width-97 {
	width: 97%;
}
.width-96 {
	width: 96%;
}
.width-95 {
	width: 95%;
}
.width-94 {
	width: 94%;
}
.width-93 {
	width: 93%;
}
.width-92 {
	width: 92%;
}
.width-91 {
	width: 91%;
}
.width-90 {
	width: 90%;
}
.width-89 {
	width: 89%;
}
.width-88 {
	width: 88%;
}
.width-87 {
	width: 87%;
}
.width-86 {
	width: 86%;
}
.width-85 {
	width: 85%;
}
.width-84 {
	width: 84%;
}
.width-83 {
	width: 83%;
}
.width-82 {
	width: 82%;
}
.width-81 {
	width: 81%;
}
.width-80 {
	width: 80%;
}
.width-79 {
	width: 79%;
}
.width-78 {
	width: 78%;
}
.width-77 {
	width: 77%;
}
.width-76 {
	width: 76%;
}
.width-75 {
	width: 75%;
}
.width-74 {
	width: 74%;
}
.width-73 {
	width: 73%;
}
.width-72 {
	width: 72%;
}
.width-71 {
	width: 71%;
}
.width-70 {
	width: 70%;
}
.width-69 {
	width: 69%;
}
.width-68 {
	width: 68%;
}
.width-67 {
	width: 67%;
}
.width-66 {
	width: 66%;
}
.width-65 {
	width: 65%;
}
.width-64 {
	width: 64%;
}
.width-63 {
	width: 63%;
}
.width-62 {
	width: 62%;
}
.width-61 {
	width: 61%;
}
.width-60 {
	width: 60%;
}
.width-59 {
	width: 59%;
}
.width-58 {
	width: 58%;
}
.width-57 {
	width: 57%;
}
.width-56 {
	width: 56%;
}
.width-55 {
	width: 55%;
}
.width-54 {
	width: 54%;
}
.width-53 {
	width: 53%;
}
.width-52 {
	width: 52%;
}
.width-51 {
	width: 51%;
}
.width-50 {
	width: 50%;
}
.width-49 {
	width: 49%;
}
.width-48 {
	width: 48%;
}
.width-47 {
	width: 47%;
}
.width-46 {
	width: 46%;
}
.width-45 {
	width: 45%;
}
.width-44 {
	width: 44%;
}
.width-43 {
	width: 43%;
}
.width-42 {
	width: 42%;
}
.width-41 {
	width: 41%;
}
.width-40 {
	width: 40%;
}
.width-39 {
	width: 39%;
}
.width-38 {
	width: 38%;
}
.width-37 {
	width: 37%;
}
.width-36 {
	width: 36%;
}
.width-35 {
	width: 35%;
}
.width-34 {
	width: 34%;
}
.width-33 {
	width: 33%;
}
.width-32 {
	width: 32%;
}
.width-31 {
	width: 31%;
}
.width-30 {
	width: 30%;
}
.width-29 {
	width: 29%;
}
.width-28 {
	width: 28%;
}
.width-27 {
	width: 27%;
}
.width-26 {
	width: 26%;
}
.width-25 {
	width: 25%;
}
.width-24 {
	width: 24%;
}
.width-23 {
	width: 23%;
}
.width-22 {
	width: 22%;
}
.width-21 {
	width: 21%;
}
.width-20 {
	width: 20%;
}
.width-19 {
	width: 19%;
}
.width-18 {
	width: 18%;
}
.width-17 {
	width: 17%;
}
.width-16 {
	width: 16%;
}
.width-15 {
	width: 15%;
}
.width-14 {
	width: 14%;
}
.width-13 {
	width: 13%;
}
.width-12 {
	width: 12%;
}
.width-11 {
	width: 11%;
}
.width-10 {
	width: 10%;
}
.width-9 {
	width: 9%;
}
.width-8 {
	width: 8%;
}
.width-7 {
	width: 7%;
}
.width-6 {
	width: 6%;
}
.width-5 {
	width: 5%;
}
.width-4 {
	width: 4%;
}
.width-3 {
	width: 3%;
}
.width-2 {
	width: 2%;
}
.width-1 {
	width: 1%;
}
.mw-120 {
	min-width: 120px;
}
.mw-110 {
	min-width: 110px;
}
.mw-100 {
	min-width: 100px;
}
.mw-90 {
	min-width: 90px;
}
.mw-85 {
	min-width: 85px;
}
.mw-80 {
	min-width: 80px;
}
.mw-70 {
	min-width: 70px;
}
.mw-60 {
	min-width: 60px;
}
.fontStyle-error {
	color: #FF00FF; /*#b21db2;*/ /* #BE81F7; */
}
.fontStyle-ing, .fontStyle-apply {
	color: #0000FF; /* #2477c1; */
}
.fontStyle-cncl {
	color: #FF0000; /* #d12832; */
}
.fontStyle-module {
	color: #FF8080;
}
.fontStyle-rec {
	color: #f16832;
}
.fontStyle-dev {
	color: #00523d;
}
.fontStyle-test {
	color: #8f6fff;
}
.fontStyle-end {
	color: #2B2B2B;
}
.fontStyle-gray {
	color: #a03fa6;
}
.fontStyle-bold {
	font-weight: bold;
}
.f-cal {
    width : 70%; /* 구식 브라우저를 위한 대비책(fallback) */
    width : -webkit-calc(100% - 40px); /* for Chrome, Safari */
    width :    -moz-calc(100% - 40px); /* for Firefox */
    width: calc(100% - 40px); /* for IE */
}
.ax-button-wrap button {
	background: #fff; border: 1px solid #ccc; color:#103300; font-weight:bold; padding: 0 7px 2px; height: 25px;
}
.ax-picker-buttons button {
	background: #fff; border: 1px solid #ccc; color:#103300; font-weight:bold; padding: 0 7px 2px; height: 25px;
}

div#rMenu {
   position:absolute;
   visibility:hidden;
   top:0;
   background-color: #cdcdcd;
   text-align: left;
   padding: 1px;
}
div#rMenu ul li{
   margin: 1px 0;
   padding: 0 5px;
   cursor: pointer;
   list-style: none outside none;
   background-color: #ffffff;
}
div#rMenu ul {
	padding: 0;
    margin: 0;
    /* font-size: 13px; */
    font-size: 12px;
}

.fc-today {
    background: #FFF !important;
    border: none !important;
    border-top: 1px solid #ddd !important;
    font-weight: bold;
    color: blue;
}

td.fc-more-cell {
	background-color : #FDFF7F !important;
}

/* 토요일 */
.fc-sat {
	color:#0000FF;
}
/* 일요일 */
.fc-sun,.holiday {
	color:#FF0000;
}
/* 달력 일자 헤더 */
.fc-day-header {
	background-color: #f4f6f7;
}
/* 페이지버튼-primary */
.btn_basic_p {background: #35D45E; border: 1px solid #2471C8; color:#fff; font-weight:bold; padding: 0 7px 2px; height: 25px;}
.btn_basic_p:disabled{background: #ddd; border: 1px solid #ccc; color:#ccc; font-weight:normal; padding: 0 7px 2px; height: 25px;}

.lang_menu ul li .menu_box p:hover {
	color: #2471c8;
	font-weight: bold;
}

.bootstrap-timepicker-widget.dropdown-menu.open {
    position: absolute;
    background: #eee;
  }
.sm-row {
	margin-top: 5px;
}
.filebox label {
	display: inline-block;
	font-size: inherit;
	vertical-align: middle;
	cursor: pointer;
	background: #fff;
	border: 1px solid #ccc;
	color:#103300;
	font-weight:bold;
	padding: 0 7px 2px;
	height: 25px;
}
.filebox label:hover {border: 1px solid #2477c1; color: #2477c1; font-weight:bold; padding: 0 7px 2px; height: 25px;}
.filebox input[type="file"] { /* 파일 필드 숨기기 */ position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.org{color: #fd7e14;}
.green{color: #0acf97;}
.blue{color: #727cf5;}
.notice-footer {
	background-color: #D8D8D8;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* tree right menu css end*/

/****************************************************************************************************************************************
                										ver2019 디자인 리뉴얼 퍼블리셔 김수정
****************************************************************************************************************************************/
/*setting*/
* {margin: 0;padding: 0;border: 0;outline: 0;box-sizing: border-box;}
html{position: relative; height: 100%;}
/* html,body{font-size: 12px;color: #312b2b;#616161;margin: 0;padding: 0;font-family: "Malgun Gothic", "굴림", "Gulim", "Arial";} */
html,body{font-size: 11px;color: #312b2b;/*#616161;*/margin: 0;padding: 0;font-family: "Malgun Gothic", "굴림", "Gulim", "Arial";}
body{height: 100%; min-width: 360px;}
ul, ol, dl {list-style: none;}
a {text-decoration: none; cursor: pointer;}
em{font-style: normal;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table, table tr, table td {border: 0; border-collapse: collapse; border-spacing: 0;}
/* label {display: inline-block; max-width: 100%; line-height: 25px; letter-spacing: -0.8px; margin-right: 5px; font-weight: bold; vertical-align: top; margin-bottom: 0; font-size: 13px;} */
label {display: inline-block; max-width: 100%; line-height: 25px; letter-spacing: -0.8px; margin-right: 5px; font-weight: bold; vertical-align: top; margin-bottom: 0; font-size: 12px;}
button, input, select{vertical-align: top; margin: 0; padding: 0;}
button{border: 0; margin: 0; padding: 0; cursor: pointer;}
input{border: 1px solid #ddd; border-radius: 0px; box-shadow: none; transition: border 0.3s ease;}
/* input::-webkit-input-placeholder {color: #8e8e8e; font-size: 12px; font-weight: 300;} */
input::-webkit-input-placeholder {color: #8e8e8e; font-size: 11px; font-weight: 300;}
/* input:-ms-input-placeholder {color: #8e8e8e; font-size: 12px; font-weight: 300;} */
input:-ms-input-placeholder {color: #8e8e8e; font-size: 11px; font-weight: 300;}
/* input::-moz-placeholder {color: #8e8e8e; font-size: 12px; font-weight: 300;} */
input::-moz-placeholder {color: #8e8e8e; font-size: 11px; font-weight: 300;}
input{margin: 0 auto; height: 25px; border: 1px solid #ddd; box-sizing: border-box; padding-left: 5px; font-family: inherit; color: #444;}
input:hover{border: 1px solid #2477c1; border-radius: 0px; box-shadow: none;}
input[readonly], input[disabled], input:disabled{border: 1px solid #ddd; border-radius: 0px; box-shadow: none;}
input[readonly]:hover, input[disabled]:hover, input:disabled:hover{border: 1px solid #ddd; border-radius: 0px; box-shadow: none;}
input:focus{border: 1px solid #2477c1; border-radius: 0px; box-shadow: none;}
input[readonly]:focus{border: 1px solid #ddd; border-radius: 0px; box-shadow: none;}
input[type="radio"]{display: inline-block; width: 15px; height: 15px; vertical-align: middle; margin: 3px 1px 0 0.5px;}
input[type="checkbox"]{display: inline-block; width: 15px; height: 15px; vertical-align: middle; margin: 0 5px; border: 1px solid #ddd;}
/*select {width: 200px;height:25px;padding: 0 7px;border: 1px solid #ddd;border-radius: 0;font-family: inherit;
select {width: 200px;height:25px;padding: 0 7px;border: 1px solid #ddd;border-radius: 0;font-family: inherit;background: #fff url('../../../img/arrow.png') no-repeat 95% 50%;-webkit-appearance: none;-moz-appearance: none;appearance: none;position: relative;}

select {
	width: 215px;
	padding: 0 7px;
	border-radius: 0;
	font-family: inherit;
	-webkit-appearance: none;-moz-appearance: none;appearance: none;
	position: relative;
	border: 1px solid #2471C8;
	cursor: pointer;
	text-align-last: center;
	height: 21px;
}
select::-ms-expand {display: none;} */
/* font style이 안먹어서 변경함
textarea{border: 1px solid #ddd; border-radius: 0px; box-shadow: none;} */
/* textarea{border: 1px solid #ddd;border-radius: 0px;box-shadow: none;font-size: 12px;color: #616161;margin: 0;padding: 0;font-family: "Malgun Gothic", "굴림", "Gulim", "Arial";} */
textarea{/* border: 1px solid #ddd; */border-radius: 0px;box-shadow: none;font-size: 11px;color: #616161;margin: 0;padding: 0;font-family: "Malgun Gothic", "굴림", "Gulim", "Arial";}
/*common*/
.cb:after{content: ''; display: block; clear: both;}
.dib{display: inline-block;}
.poa{position: absolute;}
.por{position: relative;}
.poa_r{position: absolute; right: 0; top: 0;}
.poa_l{position: absolute; left: 0; top: 0;}
.tal{text-align: left !important;}
.tac{text-align: center;}
.tar{text-align: right;}
.vat{vertical-align: top;}
.vam{vertical-align: -webkit-baseline-middle; vertical-align: middle;}
.txt_g{color: #888;}
.txt_r{color: #f60;}
.mt3m{margin-top: -3px;}
.ml_7{margin-left: 7px;}
.bg_white{background: #fff;}
.bg_gray{background: #ddd;}
.pd_10{padding: 10px;}
.mask_wrap{opacity: 0.5;}

.tit_40{width: 40px;}
.tit_50{width: 50px;}
.tit_60{width: 60px;}
.tit_70{width: 70px;}
.tit_80{width: 80px;}
.tit_90{width: 90px;}
.tit_100 {width: 100px;}
.tit_110 {width: 110px;}
.tit_120 {width: 120px;}
.tit_130 {width: 130px;}
.tit_140 {width: 140px;}
.tit_150 {width: 150px;}
.tit_200 {width: 200px;}
.ml_10 {margin-left: 10px;}
.ml_40 {margin-left: 40px;}
.ml_50 {margin-left: 50px;}
.ml_60 {margin-left: 60px;}
.ml_70 {margin-left: 70px;}
.ml_80 {margin-left: 80px;}
.ml_90 {margin-left: 90px;}
.ml_100 {margin-left: 100px;}
.ml_110 {margin-left: 110px;}
.ml_120 {margin-left: 120px;}
.ml_130 {margin-left: 130px;}
.ml_140 {margin-left: 140px;}
.ml_150 {margin-left: 150px;}
.ml_200 {margin-left: 200px;}
/*text*/
/* .tit h3{position: relative; font-size: 13px; font-weight: bold; color: #245490; border-bottom: 1px solid #2471C8; padding-bottom: 3px;}
.title{position: relative; font-size: 13px; font-weight: 600; color: #fff; background: #888; padding: 0 7px; }
.title_s{position: relative; font-size: 11px; font-weight: 400; color: #fff; background: #888; padding: 0 5px; }
.font_11{font-size: 11px;}
.font_12{font-size: 12px;}
.font_14{font-size: 14px;} */
.tit h3{position: relative; font-size: 12px; font-weight: bold; color: #245490; border-bottom: 1px solid #2471C8; padding-bottom: 3px;}
.title{position: relative; font-size: 12px; font-weight: 600; color: #fff; background: #888; padding: 0 7px; }
.title_s{position: relative; font-size: 10px; font-weight: 400; color: #fff; background: #888; padding: 0 5px; }
.font_11{font-size: 11px;}
.font_12{font-size: 12px;}
.font_14{font-size: 14px;}
/*tab*/
.tab_disabled{background: #c7cbd1 !important; color:#d5e0ef !important; border: 1px solid #ccc !important; color: #ddd !important; pointer-events:none;}
.tab_wrap{position: relative; border-bottom: 1px solid #2471C8; height: 30px; margin-bottom: 3px;}
.tab_wrap ul li{display: inline-block;border: 1px solid #2471C8;border-bottom: none;color: #2471C8;background: transparent;height: 30px;padding: 0 15px; /* line-height: 25px;*/ margin: 0 1px;cursor: pointer;}
.tab_wrap ul li.on{background: #2471C8; color: #fff;}
.tab_wrap ul li:disabled{background: #c7cbd1; color:#d5e0ef; border: 1px solid #ccc; color: #ddd;}
/*button*/
.btn_wrap_r{position: absolute; bottom: 7px; right: 10px;}
.btn_wrap_r button{margin: 0 3px;}
/*페이지버튼*/
.btn_basic {background: #fff;border: 1px solid #ccc;color:#616161;font-weight:bold; padding: 7px 15px;}
.btn_basic:hover {border: 1px solid #2477c1; color: #2477c1; font-weight:bold; padding: 7px 15px;}
.btn_basic:disabled{background: #ddd; border: 1px solid #ccc; color:#b3b0b0;/*#ccc;*/ font-weight:normal; padding: 7px 15px;cursor: auto;}
/*컨텐츠안버튼*/
/*
old
.btn_basic_s {background: #fff;border: 1px solid #ccc;color:#103300;font-weight:bold;padding: 0 7px 2px;height: 25px;}
.btn_basic_s:disabled {background: #ddd; border: 1px solid #ccc; color:#ccc; font-weight:normal; padding: 0 7px 2px; height: 25px;}
.btn_gray_s{background: #ddd; border: 1px solid #ccc; color:#103300; font-weight:bold; padding: 0 7px 2px; height: 25px;}
new
.btn_basic {background: #35D45E; border: 1px solid #2471C8; color:#fff; font-weight:bold; padding: 0 7px 2px;height: 25px;}
.btn_basic_s:hover {border: 1px solid #2477c1; color: #2477c1; font-weight:bold; padding: 0 7px 2px; height: 25px;}
.btn_basic_s:disabled {background: #c7cbd1; border: 1px solid #ccc; color:#d5e0ef; font-weight:normal; padding: 0 7px 2px; height: 25px;}
*/
.btn_basic_s {background: #fff;border: 1px solid #ccc;color:#616161;font-weight:bold;padding: 0 7px 2px;height: 25px;}
.btn_basic_s:hover {border: 1px solid #2477c1; color: #2477c1; font-weight:bold; padding: 0 7px 2px; height: 25px;}
.btn_basic_s:disabled {background: #ddd; border: 1px solid #ccc; color: #b3b0b0; /*#ccc;*/ font-weight:normal; padding: 0 7px 2px; height: 25px;cursor: auto;}

.input-group-addon{background: #fff; border: 1px solid #ccc; color:#103300; line-height: 2px;}
/* .btn_calendar{display: inline-block;font-size: 14px;height: 25px;line-height: 13px;padding: 4px 12px 3px;margin-right: 15px;color: #103300;text-align: center;background-color: #fff;border: 1px solid #ccc; cursor: pointer;}
.btn_calendar:disabled {display: inline-block; font-size: 14px; height: 25px; line-height: 13px; padding: 4px 12px 3px; color: #103300; text-align: center; background-color: #ebebe4; border: 1px solid #ccc;cursor: auto;}
.btn_time{display: inline-block;font-size: 14px;height: 25px;line-height: 13px;padding: 4px 12px 3px; color: #103300;text-align: center;background-color: #fff;border: 1px solid #ccc;}
.btn_time:disabled {display: inline-block; font-size: 14px; height: 25px; line-height: 13px; padding: 4px 12px 3px; color: #103300; text-align: center; background-color: #ebebe4; border: 1px solid #ccc;}*/
.btn_calendar{display: inline-block;font-size: 13px;height: 25px;line-height: 13px;padding: 4px 12px 3px;/* margin-right: 15px;*/color: #103300;text-align: center;background-color: #fff;border: 1px solid #ccc; cursor: pointer;}
.btn_calendar:disabled {display: inline-block; font-size: 12px; height: 25px; line-height: 13px; padding: 4px 12px 3px;/* margin-right: 15px;*/ color: #103300; text-align: center; background-color: #ebebe4; border: 1px solid #ccc;cursor: auto;}
.btn_time{display: inline-block;font-size: 14px;height: 24px;line-height: 13px;padding: 4px 12px 3px;/* margin-right: 15px;*/color: #103300;text-align: center;background-color: #fff;border: 1px solid #ccc;}
.btn_time:disabled {display: inline-block; font-size: 13px; height: 25px; line-height: 13px; padding: 4px 12px 3px;/* margin-right: 15px;*/ color: #103300; text-align: center; background-color: #ebebe4; border: 1px solid #ccc;}

/* .fa_wrap{display: inline-block; font-size: 12px; height: 25px; line-height: 13px; padding: 4px 12px 3px; color: #103300; text-align: center; background-color: #fff; border: 1px solid #ccc; cursor: pointer;} */
.fa_wrap{display: inline-block; font-size: 11px; height: 25px; line-height: 13px; padding: 4px 12px 3px; color: #103300; text-align: center; background-color: #fff; border: 1px solid #ccc; cursor: pointer;}
.fas:before {font-family: FontAwesome; font-style: normal;}
/**********************************
                gnb
**********************************/
/* h1.logo{display: inline-block; font-size: 25px; font-weight: bold; line-height: 45px; margin-left: 15px; color: #2471c8;} */
h1.logo{display: inline-block; font-size: 24px; font-weight: bold; line-height: 45px; margin-left: 15px; color: #2471c8;}
.lang_menu {position: absolute; top: 0; margin-left: 160px; height: 50px; /*width: 924px;*/ z-index: 1001;}
.lang_menu ul:after{display: block; content: ''; clear: both;}
.lang_menu ul li{position: relative; float: left;}
/* .lang_menu ul li a{display: block; font-size: 16px; font-weight: bold; color: #103300; padding: 7px; height: 50px;} */
.lang_menu ul li a{display: block; font-size: 15px; font-weight: bold; color: #103300; padding: 7px; height: 40px;}
.lang_menu ul li div.active{position: absolute; display: block; border-top: solid 3px #2471c8; min-width: 180px;}
.lang_menu ul li div.active:before{border-bottom: 6px solid #2471c8; border-left: 6px solid transparent; border-right: 6px solid transparent; content: ""; display: inline-block; position: absolute; left: 23px; margin-right: auto; margin-left: auto; width: 1px; top: -8px;}
.lang_menu ul li a.active:after{	border-bottom: 6px solid #2471c8; border-left: 6px solid transparent; border-right: 6px solid transparent; content: ""; display: inline-block; position: absolute; left: calc(50% + 4px); margin-right: auto; margin-left: auto; width: 1px; bottom: 2px;}
.lang_menu ul li .menu_box{position: absolute;display: none;background-color: #fff;margin-top: -3px;z-index: 1000;-webkit-box-shadow: 0 6px 16px rgba(0,0,0,.175);box-shadow: 0 6px 16px rgba(0,0,0,.175);}
/* .lang_menu ul li .menu_box p{display: block;padding: 5px 5px;border-bottom: 1px solid #eee;text-align: left;font-size: 12px;cursor: pointer;} */
.lang_menu ul li .menu_box p{display: block;padding: 5px 5px;border-bottom: 1px solid #eee;text-align: left;font-size: 12px;cursor: pointer;}
.lang_menu ul li .menu_box p:last-child{border-bottom: 0;}
.lang_menu ul li .menu_box p img{margin-top: 2px;}
/* .log{position: absolute; right: 0; top: 18px; font-size: 13px;} */
.log{position: absolute; right: 0; top: 18px; font-size: 12px;}
.log a{color: #103300; margin: 0 7px;}
/**********************************
                main
**********************************/
.txt_info ul{position: relative;}
/* .txt_info ul li{font-size: 15px;} */
.txt_info ul li{font-size: 14px;}
.txt_info ul li span{position: absolute; left: 60px; font-weight: bold;}
.card_info{position: relative;}
.card_info dl{display: inline-block; border: 1px solid #ccc; margin: 0 7px;}
/* .card_info dl dt{display: inline-block; background: #ccc; color: #103300; font-size: 15px; padding: 10px 20px;} 
.card_info dl dd{display: inline-block;background: #fff;color: #888;font-size: 15px;font-weight: bold;padding: 10px 20px;}*/
.card_info dl dt{display: inline-block; background: #ccc; color: #103300; font-size: 14px; padding: 10px 20px;}
.card_info dl dd{display: inline-block;background: #fff;color: #888;font-size: 14px;font-weight: bold;padding: 10px 20px;}
.progressbar {position: relative; width: 100%; border: 1px solid #ccc;}
.progressbar dl{margin: 10px;}
.progressbar dl dt{position: absolute; width: 150px; display: inline-block; height: 30px; line-height: 30px;}
.progressbar dl dd{margin-left: 150px; background: #eee; height: 30px; line-height: 30px;}
.progressbar .org{background: #fd7e14; color: #fff; text-align: center; height: 30px; display: inline-block;}
.progressbar .green{background: #0acf97; color: #fff; text-align: center; height: 30px; display: inline-block;}
.progressbar .blue{background: #727cf5; color: #fff; text-align: center; height: 30px; display: inline-block;}
.timeline .timeline_box{background: #f8f8f8; padding: 10px;/* overflow-y: scroll;*/}
/* .timeline .timeline_box h4{font-size: 14px; font-weight: bold; color: #888; margin-bottom: 15px; text-transform: uppercase;} */
.timeline .timeline_box h4{font-size: 13px; font-weight: bold; color: #888; margin-bottom: 15px; text-transform: uppercase;}
.timeline .item{position: relative;/* height: 100%; */}
.timeline .item:before{background-color: #eee; bottom: 0; content: ""; position: absolute; left: 10px; top: 20px; width: 2px; z-index: 0;}
.timeline .item i{float: left; height: 20px; width: 20px; text-align: center; line-height: 20px;}
/* .fa-clock:before{content: "\F017"; font-size: 20px; background: #fff; color: #39afd1; border-radius: 20px; } */
.fa-clock:before{content: "\F017"; font-size: 19px; background: #fff; color: #39afd1; border-radius: 20px; }
.timeline .item_info{margin:0px 0 7px 40px;}
/* .timeline .item_info p{font-weight: 700; color: #666; font-size: 14px;}
.timeline .item_info small{ font-size: 13px;} */
.timeline .item_info p{font-weight: 700; color: #666; font-size: 13px;}
.timeline .item_info small{ font-size: 12px;}
/**********************************
                layout
**********************************/
#header{position: relative; height: 50px; border-bottom: 1px solid #ddd;}
#wrapper{position: relative;width: 1024px;min-width: 100%;min-height: 100%;/* min-height: calc(100vh - 45px); */}
/*#wrapper:after{content: ''; display: block; clear: both;}*/
#wrapper .content{position: relative;/* margin: 10px */;margin-bottom: 0;}
/* #history_wrap{position: relative;font-size: 14px;line-height: 14px;font-weight: 500;color: #245490;margin-bottom: 10px; height: 14px;} */
#history_wrap{position: relative;font-size: 13px;line-height: 9px;font-weight: 500;color: #245490;margin-bottom: 6px; height: 14px;}
#divContent {width: 580px; background: #f8f8f8; padding: 20px; margin: 0 auto; border: 1px solid #ccc;}
#footer{position: relative;width: 100%;height: 30px;background: #ddd;/* bottom: 0; */}
#footer ul:after{content: ''; display: block; clear: both;}
#footer ul li{position: relative; float: left; width: 50%; zoom: 1;}
#footer ul li.logo_f{text-align: left; padding-left: 15px;}
#footer ul li.logo_f img{height: 13px; margin-top: 9px; opacity: 0.5;}
#footer ul li.copy{text-align: right; line-height: 30px; padding-right: 15px;}
/*좌우 반*/
.half_wrap{position: relative;background: #f6f6f6;padding: 5px;border: 1px solid #ccc;}
.half_wrap:after{content: ""; clear: both; display: block;}
.half_wrap_w{position: relative; background: #fff;}
.half_wrap_w:after{content: ""; clear: both; display: block;}
.half_wrap_cb:after{content: ""; clear: both; display: block;}
.l_wrap{position: relative;float: left;zoom: 1;}
.r_wrap{position: relative;float: right;zoom: 1;}
/**********************************
                게시판
**********************************/
.az_board_basic{display: inline-block; border-collapse: initial; border-spacing: 0; width: 100%;}
.az_board_basic table{width: 100%; border-bottom: 2px solid #ddd;}
.az_board_basic_in table{border: 1px solid #ddd;}
.az_board_basic_in table tr th,
.az_board_basic_in table tr td{
	border: 1px solid #ddd;
}
.az_board_basic table tr th{background: #f8f8f8; color: #245490; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; height: 30px;}
.az_board_basic table tr:nth-child(odd){background: #f8f8f8;}
.az_board_basic table tr:nth-child(even){background: #fff;}
.az_board_basic table tr td{height: 28px; padding: 0 3px; text-align: center; border-right: 1px solid #ddd;}
.az_board_basic table tr td:last-child{border-right: none;}
/* .az_board_basic table tr td button{border: 1px solid #ccc;background: #fff;padding: 1px 5px;font-size: 11px;} */
.az_board_basic table tr td button{border: 1px solid #ccc;background: #fff;padding: 1px 5px;font-size: 10px;}

.az_board_search{margin-top: 7px;}
.az_board_search button.btn_gray_s{margin-left: 7px; line-height: 16px;}
/**********************************
                sub
**********************************/
/*비밀번호변경*/
#lb1 {background: #bdc0c4; border-radius: 50%; color: white; font-weight:bold}
.row {margin-top: 10px;}
/*부재등록*/
#myGrid1Area {width:100%; height:23%}
#opt {width: 580px; margin: 0 auto}
.ab_register input{width: 100%; margin-bottom: 3px; border-radius: 0;}
/*공지사항*/
/* #tip {position:absolute; color:#FFFFFF; padding:5px; display:none; background:#FFA200; border-radius: 5px;} */
#tip {position:absolute; padding:5px; display:none; border-radius: 5px; border: solid 1px black; background-color: #fff;}
/*검색 - 테이블상단*/
.az_search_wrap{display: inline-block;width: 100%;/* height: 47px; */padding: 10px 0;margin-bottom: 7px;background: #f8f8f8;border: 1px solid #ccc;}
.az_in_wrap{display: block; padding: 0 10px; font-size: 0;}
/* .sim{margin: 0 7px; font-size: 14px;} */
.sim{margin: 0 7px; font-size: 13px;}
.az_search_wrap div.l_wrap button.btn_basic_s{padding: 1px 7px 2px; margin: 0 7px;}
.az_search_wrap div.r_wrap .all_num{display: inline-block; color: #245490; padding: 5px 20px 4px 10px;}
.az_search_wrap div.r_wrap .all_num strong{display: inline-block;}
/* .all_num {position: relative; font-size: 12px; color: #245490;} */
.all_num {position: relative; font-size: 11px; color: #245490;}
/*SR등록*/
.sr_status div.label{display: inline-block; margin-left: 7px;}
.sr_status div.r_wrap{text-align: right;}
.sr_status div.r_wrap .btn_calendar{margin-right: 0;}
.write_wrap dl{position: relative;}
.write_wrap dl dt{position: absolute; width: 80px;}
.write_wrap_100 dl dt{position: absolute; width: 100px !important;}
.write_wrap dl dd{position: relative; margin-left: 80px;}
.write_wrap_100 dl dd{position: relative; margin-left: 100px !important;}
.write_wrap dl dd input{width: 100%;}
.write_wrap dl dd input[type="checkbox"]{width: 20px;}
.write_wrap .half{position: relative; height: 25px;}
.write_wrap .half dl{float: left; width: 50%;}
.write_wrap .half dl dt{width: 80px;}
.write_wrap .half dl dd{margin-left: 80px;}
/* .write_wrap textarea {width: 100%; height: 150px; padding: 12px 20px; box-sizing: border-box; border: 1px solid #ddd; background-color: #fff; font-size: 12px; resize: none;} */
.write_wrap textarea {width: 100%; height: 150px; padding: 12px 20px; box-sizing: border-box; border: 1px solid #ddd; background-color: #fff; font-size: 11px; resize: none;}
.write_wrap div dl dd span.btn_calendar{margin-right: 0;}
/*thumbnail*/
.thumbnail{position: relative;}
/* .thumbnail .r_nail{font-size: 11px; color: #fff; background-color: #FF0000; #d12832; padding: 3px 7px; margin: 0 7px;}
.thumbnail .p_nail{font-size: 11px; color: #fff; background-color: #FF00FF; #b21db2; #BE81F7; padding: 3px 7px; margin: 0 7px;}
.thumbnail .g_nail{font-size: 11px; color: #fff; background-color: #2B2B2B; padding: 3px 7px; margin: 0 7px;}
.thumbnail .b_nail{font-size: 11px; color: #fff; background-color: #0000FF; #2477c1; padding: 3px 7px; margin: 0 7px;}
.thumbnail .o_nail{font-size: 11px; color: #fff; background-color: #f16832; #1a1a8c; padding: 3px 7px; margin: 0 7px;}
.thumbnail .pu_nail{font-size: 11px; color: #fff; background-color: #8000ff; #1a1a8c; padding: 3px 7px; margin: 0 7px;} */
.thumbnail .r_nail{font-size: 10px; color: #fff; background-color: #FF0000; /*#d12832;*/ padding: 3px 7px; margin: 0 7px;}
.thumbnail .p_nail{font-size: 10px; color: #fff; background-color: #FF00FF; /*#b21db2;*/ /*#BE81F7;*/ padding: 3px 7px; margin: 0 7px;}
.thumbnail .g_nail{font-size: 10px; color: #fff; background-color: #2B2B2B; padding: 3px 7px; margin: 0 7px;}
.thumbnail .b_nail{font-size: 10px; color: #fff; background-color: #0000FF; /* #2477c1; */ padding: 3px 7px; margin: 0 7px;}
.thumbnail .o_nail{font-size: 10px; color: #fff; background-color: #f16832; /* #1a1a8c; */ padding: 3px 7px; margin: 0 7px;}
.thumbnail .gr_nail{font-size: 10px; color: #fff; background-color: #00523d; /* #1a1a8c; */ padding: 3px 7px; margin: 0 7px;}
.thumbnail .pu_nail{font-size: 10px; color: #fff; background-color: #8f6fff; /* #1a1a8c; */ padding: 3px 7px; margin: 0 7px;}
.thumbnail span:first-child{margin-left: 0;}
.thumbnail span:last-child{margin-right: 0;}
/*스크롤 영역*/
.scrollBind{position: relative;height: 185px;border: 1px solid #ddd;background-color: #fff;overflow-y: scroll;}
.scroll_x{position: relative; /*border: 1px solid #ddd; background-color: #fff;*/ overflow-x: scroll;}
.scroll_y{position: relative; /*border: 1px solid #ddd; background-color: #fff;*/ overflow-y: scroll;}
.list-group{background-color: #fff; padding: 7px;}
.list-group .list-group-item{line-height: 30px;}
.list-group-w{background-color: #fff; padding: 7px;}
.list-group-w li{display: inline-block;}
/*선택시 나오는 영역*/
.view_g{background: #eee; width: 100%;}
/******************************************************************************
									popup
******************************************************************************/
button.close { -webkit-appearance: none; padding: 0; cursor: pointer; background: transparent; border: 0;}
.close {position: absolute; right: 10px; top: 1px; font-size: 20px; font-weight: bold; line-height: 1; color: #fff; /*text-shadow: 0 1px 0 #fff;*/ filter: alpha(opacity=20); /*opacity: .2;*/}
.pop_wrap{position: relative;padding: 10px;}
/******************************************************************************
									ax5
******************************************************************************/
.form-control{border-radius: 0;}
.ax5select-display .ax5select-display-table [data-ax5select-display="label"]{padding: 0 7px 0 0;}
.input-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn{padding: 3px 5px;}
[data-ax5select] .ax5select-display.input-sm, [data-ax5select] .input-group-sm>.ax5select-display.form-control, [data-ax5select] .input-group-sm>.ax5select-display.input-group-addon, [data-ax5select] .input-group-sm>.input-group-btn>.ax5select-display.btn{
	height: 25px;
}
select.input-sm, .input-group-sm>select.form-control, .input-group-sm>select.input-group-addon, .input-group-sm>.input-group-btn>select.btn{height: 25px; line-height: 19px;}
.ax5select-display .ax5select-display-table [data-ax5select-display="addon"] .addon-icon-closed,
.ax5select-display .ax5select-display-table [data-ax5select-display="addon"] .addon-icon-opened{text-align: right;}
.input-sm{border-radius: 0; border: 1px solid #ddd; box-shadow: none;}
/*board*/
[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] {
    user-select: none;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    /* background-color: #fff;
    background-image: -webkit-linear-gradient(top, #fff, #F0F0F0);
    background-image: linear-gradient(to bottom, #fff, #F0F0F0);
    border: 0px none;
    border-top: 1px solid #ddd; */
    border-bottom: 1px solid #ccc;
    color: #222;
    background: #f8f8f8;
    height: 30px;
}

[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] table tr td[data-ax5grid-column-row="null"] {
    border-right: 0 none;
    background-color: #E8EEF9; /* grid header 끝에 남는부분 색 변경*/
}

[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] table tr td.hasBorder {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #E8EEF9; /* grid header color 추가 group 헤더일경우 바탕색이 짤라서 나와서 추가 */
    color: #245490;
    font-weight: bold;
}

[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] table tr td [data-ax5grid-cellHolder][data-ax5grid-text-align="center"]{
	color: #245490;
	font-weight: bold;
	background-color: #E8EEF9; /* grid header color 추가 */
}
[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.tr-0{
    background: #f8f8f8;
}
/*그리드에 마우스 이동시 커서위치에 따라 row에 색깔 표시*/
[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr:hover{
	background : #e3f1ff;
}
[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr[data-ax5grid-selected="true"]{
	background : #e3f1ff;
}
[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td.hasBorder{
	border-bottom: 1px solid #ccc;
}
[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="aside-body"] table tr{
	background: #fff;
}
[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="top-aside-body"], [data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="aside-body"], [data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="bottom-aside-body"]{
	background: #fff;
}
#divPicker{font-size: 0;}

.content{font-size: 0;}
.contentFrame{/* overflow: auto; */ padding: 15px;}
.contentFrame:after{ content:"";  display:block;  clear:both; */}

.row:first-child, .sm-row:first-child{margin-top: 0px;}

.row{margin-top: 5px;}

.thumbnail span {margin-right: 0px !important;}
.thumbnail {margin-top: 9px !important;}

.floatRow:after{content:""; display:block; clear:both;}

[data-ax5select]{height:25px;}


/*  셀렉트 박스 사이즈 줄이면 줄어드는 부분 수정 */
.ax5select-display .ax5select-display-table, .input-group [data-ax5select] .ax5select-display .ax5select-display-table{
	display: block;
}

.ax5select-display .ax5select-display-table [data-ax5select-display="label"]{
	display: inline-block;
	width: calc(100% - 21px);
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 0 0 0;
	vertical-align: top;
}

.ax5select-display .ax5select-display-table [data-ax5select-display="addon"]{
	display: inline-block;
}

.ax5select-option-group.ax5select-option-group-sm .ax-select-body .ax-select-option-group-content .ax-select-option-item .ax-select-option-item-holder{
	display: block;
}

.ax5select-option-group.ax5select-option-group-sm .ax-select-body .ax-select-option-group-content .ax-select-option-item .ax-select-option-item-holder .ax-select-option-item-cell.ax-select-option-item-label{
	display: block;
	/* text-overflow: ellipsis; */
	/* overflow: hidden; */
}

[data-ax5select] .ax5select-display.input-sm, [data-ax5select] .input-group-sm>.ax5select-display.form-control, [data-ax5select] .input-group-sm>.ax5select-display.input-group-addon, [data-ax5select] .input-group-sm>.input-group-btn>.ax5select-display.btn {
	min-width:0px !important;
}

#tabBody{
	min-width: 994px;
}

/* 그리드 로딩중 이미지 css */
.loding-div{
    width:100%;
    height:100%;
    background-color: white;
    position: absolute;
    z-index:1;
}

.loding-img{
    position: absolute;
	z-index: 1;
    left: calc(50% - 436px/2);
    top: calc(50% - 187px/2 );
}

.loding-div2{
    width:100%;
    height:100%;
    background-color: white;
    position: absolute;
    z-index:1;
}

#eCAMSFrame{
	position: relative;
}

.loding-Frame{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 999;
}

.loding-Frame-img{
    margin: 0 auto;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    position: absolute;
    z-index: 998;
}
/*
.ax5select-option-group{
    width: auto !important;
} */


/* 메뉴 사이즈 조절 시작*/

.lang_menu ul li a {
	/* padding: 7px 7px 7px 7px; */
	padding: 15px 15px 15px 15px;
}
@media (max-width: 1365px) {
	.lang_menu ul li a {
		padding: 7px 5px 7px 5px;
	}
}

@media (max-width: 1330px) {
	.lang_menu ul li a {
		padding: 7px 3px 7px 3px;
	}
}

@media (max-width: 1289px) {
	.lang_menu ul li a {
		padding: 7px 0px 7px 0px;
	}
}

@media (max-width: 992px) {
	#logo{
		margin-left: 5px !important;
	}
	.lang_menu{
		margin-left: 145px;
		width: auto;
	}
}

@media (max-width: 977px) {
	.topMenu .dIcon{
		margin-left: 13px !important;
	}
}

@media (max-width: 712px) {
	.lang_menu{
		margin-left: 120px;
	}
}

.han-input {
	-webkit-ime-mode:active;
	-moz-ime-mode:active;
	-ms-ime-mode:active;
	ime-mode:active;
}
/* 메뉴 사이즈 조절 끝*/

/*
	셀렉트박스 default로 조절되는 부분 css
*/

select.ax5select-default {
	position: absolute;
	border: 1px solid #2471C8 !important;
	text-align-last: left;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 0px !important;
	opacity: 1;
	z-index: 3;
	/* top: 25px; */
	top: 48px;
	left: 0px;
	height: auto;
	-webkit-transition: unset !important;
    -o-transition: unset !important;
    transition: unset !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
select.ax5select-default option:active, select.ax5select-default option:checked {
	background: linear-gradient(#2471C8,#2471C8);
	background-color: #2471C8 !important;
  	color: #fff !important;
}

select.ax5select-default option:hover {
	color:#fff;
	background: #2471C8 !important;
}
select.ax5select-default option {
	padding: 1px 7px;
  	padding-right: 6.8px;
   	height: 17.8px;
   	/* font-size: 14px; */
   	font-size: 13px;
   	cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
select.ax5select-default:-internal-list-box option:checked{
	background: #2471C8;
	color: #fff;
}
select.ax5select-default:hover {
	/* border: 1px solid #2471C8; */
}

[data-ax5select] {
	position: relative;
    overflow: visible;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #ddd;
    box-shadow: none;
    height: 25px;
    vertical-align: top;
}

ul.ax5select-default{
    border-color: #2471C8;
    color: #555;
    position: absolute;
    min-width: 100%;
    top: 25px;
	z-index: 5;
	background-color: #fff;
	border: 1px solid #2471C8;
	width: auto;
	overflow: auto;
	display: none;
}

/* IE 만 적용*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
	ul.ax5select-default.over{
    	min-width: calc(100% - 17px);
	}
}

ul.ax5select-default li.item{
	height: 20px;
    padding: 1px 7px;
    padding-right: 6.8px;
    color: #000;
    /* font-size: 12px; */
    font-size: 11px;
    cursor: pointer;
    display: none;
    white-space: nowrap;
    min-width: 100%;
}

ul.ax5select-default li.show{
    display: block;
}

ul.ax5select-default li.selected{
	background: #2471C8;
	color: #fff;
}

ul.ax5select-default li:hover, ul.ax5select-default li.focus{
	background: #2477c1 !important;
    color: #fff;
}

[data-ax5select]:hover{
	border: 1px solid #2477c1;
}

input.selSearch:hover, input.selSearch:focus{
	border: none;
}

input.selSearch{
	position: relative;
	top: 0px;
	z-index: 3;
	transition: none;
	border: none;
	width: 100%;
	height: 100%;
    padding-right: 25px;
    text-overflow: ellipsis;
}

input.selSearch::-ms-clear{
	display: none;
}

input.selSearch[readonly]{
	cursor: pointer;
	background-color: #fff;
}

span.ecamsSel-icon{
	position: absolute;
	z-index: 4;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 100%;
    cursor: pointer;
}

span.ecamsSel-icon:after{
    content: '';
    width: 0px;
    height: 0px;
    display: inline-block;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-bottom: 0px;
    border-top: 6.363px solid #444;
    background: transparent;
    opacity: 1;
    position: absolute;
    left: 9px;
    top: 9px;
}

span.ecamsSel-icon.close:after{
	content: '';
    width: 0px;
    height: 0px;
    display: inline-block;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-bottom: 6.363px solid #444;
    border-top: 0px;
    background: transparent;
    opacity: 1;
    position: absolute;
    left: 9px;
    top: 9px;
}

[data-ax5select].disabled input.selSearch, [data-ax5select].disabled span.ecamsSel-icon{
	cursor: not-allowed;
	background-color: #eee;
}


[data-ax5select].disabled:hover{
	border: 1px solid #ddd;
}

[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] .dragCol{
	position: absolute;
    right: 0;
    top: 0;
	background-color: #2675d8;
	opacity: 0.7;
	color: #000000;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px 0px;
    padding-left: 6px;
}

[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] .dragCol [data-ax5grid-column-sort]:before,
[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] .dragCol [data-ax5grid-column-sort]:after{
	opacity: 0.5;
}

[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-resizer="horizontal"].liveMove {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2675d8;
    opacity: 0.5;
    width: 3px;
    cursor: col-resize;
    height: 100%;
}

.hide {
	display: none;
}