@charset "UTF-8";

.en_tit_40{width: 40px;}
.en_tit_50{width: 50px;}
.en_tit_60{width: 60px;}
.en_tit_70{width: 70px;}
.en_tit_80{width: 80px;}
.en_tit_90{width: 90px;}
.en_tit_100 {width: 100px !important;}
.en_tit_105 {width: 105px;}
.en_tit_110 {width: 110px !important;}
.en_tit_120 {width: 120px !important;}
.en_tit_125 {width: 125px;}
.en_tit_130 {width: 130px;}
.en_tit_139 {width: 139px !important;}
.en_tit_140 {width: 140px;}
.en_tit_150 {width: 150px;}
.en_tit_160 {width: 160px;}
.en_tit_165 {width: 165px;}
.en_tit_170 {width: 170px;}
.en_tit_180 {width: 180px !important;}
.en_tit_209 {width: 209px !important;}
.en_tit_300 {width: 300px !important;}
.en_tit_330 {width: 330px !important;}
.en_tit_350 {width: 350px !important;}

.en_ml_10 {margin-left: 10px;}
.en_ml_20 {margin-left: 20px;}
.en_ml_30 {margin-left: 30px;}
.en_ml_40 {margin-left: 40px;}
.en_ml_50 {margin-left: 50px;}
.en_ml_60 {margin-left: 60px;}
.en_ml_70 {margin-left: 70px;}
.en_ml_80 {margin-left: 80px;}
.en_ml_90 {margin-left: 90px;}
.en_ml_100 {margin-left: 100px;}
.en_ml_105 {margin-left: 105px;}
.en_ml_110 {margin-left: 110px;}
.en_ml_115 {margin-left: 115px;}
.en_ml_120 {margin-left: 120px;}
.en_ml_130 {margin-left: 130px;}
.en_ml_140 {margin-left: 140px;}
.en_ml_150 {margin-left: 150px;}
.en_ml_160 {margin-left: 160px;}

.en_width-100 {width: 100%;}
.en_width-95 {width: 95%;}
.en_width-90 {width: 90%;}
.en_width-85 {width: 85%;}
.en_width-80 {width: 80%;}
.en_width-70 {width: 70%;}
.en_width-75 {width: 75%;}
.en_width-65 {width: 65%;}
.en_width-60 {width: 60%;}
.en_width-55 {width: 55%;}
.en_width-50 {width: 50%;}
.en_width-45 {width: 45%;}
.en_width-40 {width: 40%;}
.en_width-35 {width: 35%;}
.en_width-30 {width: 30%;}
.en_width-25 {width: 25%;}
.en_width-20 {width: 20%;}
.en_width-15 {width: 15%;}
.en_width-10 {width: 10%;}
.en_width-5 {width: 5%;}

.en_width-80-130 {
	width: calc(80% - 130px) !important;
}

.en_width-100-100 {
	width: calc(100% - 100px) !important;
}

.en_width-100-120 {
	width: calc(100% - 120px) !important;
}

.en_width-100-130 {
	width: calc(100% - 130px) !important;
}

.en_width-100-135 {
	width: calc(100% - 135px) !important;
}

.en_width-100-150 {
	width: calc(100% - 150px) !important;
}

.en_width-100-180 {
	width: calc(100% - 180px) !important;
}

.en_width-100-210 {
	width: calc(100% - 210px) !important;
}

.en_width-100-300 {
	width: calc(100% - 300px) !important;
}

.en_width-100-340 {
	width: calc(100% - 340px) !important;
}

.en_width-50-540 {
	width: calc(50% - 540px) !important;
}

.en_twoLines {
	line-height: 11px;
	letter-spacing: -0.5px;
}