/* body{
	 background: #f8f8f8; 
} */
.login-form {
	position: relative;
	background: #f8f8f8;
	min-height: 100%;
}
.login-form form {
    width: 580px;
    margin: auto;
    padding-top: 170px;
    /* height: 100%; */
}
.login-form h2 {
    margin: 0 0 15px;
    font-size: 27px;
    font-weight: 500;
}

#ecamsLoginForm {
	padding-top: calc(12% - 90px);
    width: 945px;
}

#back_card {
    border: 1px solid rgb(221, 221, 221);
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.176) 6px 6px 6px;
    height: 630px;
}

#imgDiv {
    display: inline-block;
    height: inherit;
}

#loginImg {
	display: inline-block !important;
    width: 470px;
    height: 628px;
}

#contents {
	padding: 120px 80px 0px 80px;
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
}

#loginImg {
	display: inline-block !important;
}

#title {
	display: none;
}

#title_logo {
    margin-left: 16px;
    margin-bottom: 80px;
    display: inline-block !important;
}

#img {
	width: 275px;
}

#bottom_info {
	margin-top: 15px;
}

.bottom-text {
	padding: 10px 5px;
}

.bottom-bar {
	border-right: 1px solid #bbb;
	padding-left: 5px;
}

.copyright {
	padding-top: 10px;
	font-size: 10.5px;
	color: #999;
}

section * {
	font-family: Noto Sans KR;
}

#idx_login_btn {
	transition: background 0.3s ease;
}

#idx_login_btn:hover {
	background: #4aacf7;
}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: #3492db; text-decoration: underline;}

.az_login_input{border: 1px solid #ccc; border-radius: 0px; box-shadow: none; height: 38px; font-family: auto;}
.az_login_btn{background: #3498db; color: #fff; border-radius: 0px; box-shadow: none; height: 38px; font-family: auto;}
/*�ٸ� ȭ�鿡����  style�� �����ϰ� ����
.form-control, .btn {
    min-height: 30px;
    border-radius: 2px;
}
*/