@font-face{
	src:url("../font/YoonFont.swf");
	font-family : "-윤고딕330";
}

Application {
	/*font*/
	
    color: #333333; 
    font-size:12;
    /*font-family : "돋움";*/
    font-family : "-윤고딕330";
    background-color:#FFFFFF;
    background-alpha:1.0;
	backgroundGradientAlphas: 0.0, 0.0;
	paddingLeft: 0;
	paddingTop: 0;
	paddingRight: 0;
	paddingBottom: 0;
    /*theme Color*/
    themeColor: #6697ff;
	disabledColor: #000000;
	backgroundDisabledColor : #F1EFEF;    
}

HBox{ 
	horizontalGap: 5;
	vertical-align:middle;
	
}
VBox{
	tical-gap:5;
	horizontal-align:center;
}

AccordionHeader
{
	skin: Embed(skinClass="AccordionHeader_skin");
	font-weight:normal;
	font-size:12;
}
Button
{
	skin: Embed(skinClass="Button_skin");
	font-weight:normal;
}

.primaryButton
{
	color: #ffffff;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	skin: Embed(skinClass="Button_primaryButton_skin");
	font-weight:normal;
}
.ButtonEct01
{
	color: #ffffff;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	skin: Embed(skinClass="Button_ect_skin01");
	font-weight:normal;
}
.ButtonEct02
{
	color: #ffffff;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	skin: Embed(skinClass="Button_ect_skin02");
	font-weight:normal;
}
.ButtonEct03
{
	color: #ffffff;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	skin: Embed(skinClass="Button_ect_skin03");
	font-weight:normal;
}

/*ButtonBar
{
	buttonStyleName: "buttonBarButton";
	firstButtonStyleName: "buttonBarFirstButton";
	lastButtonStyleName: "buttonBarLastButton";
}
.buttonBarButton
{
	skin: Embed(skinClass="ButtonBar$button_skin");
}
.buttonBarFirstButton
{
	skin: Embed(skinClass="ButtonBar$firstButton_skin");
}
.buttonBarLastButton
{
	skin: Embed(skinClass="ButtonBar$lastButton_skin");
}*/
CheckBox
{
	icon: Embed(skinClass="CheckBox_icon");
}

/*ColorPicker
{
	skin: Embed(skinClass="ColorPicker_skin");
}*/
ComboBox
{
	editableSkin: Embed(skinClass="ComboBox_editableSkin");
	skin: Embed(skinClass="ComboBox_skin");	
	font-weight:normal;
	textInputStyleName : "comboText";
	disabledColor: #000000;
	backgroundDisabledColor : #F1EFEF;	
}
TextInput
{
	disabledColor: #000000;
	backgroundDisabledColor : #F1EFEF;
}

TextArea
{
	disabledColor: #000000;
	backgroundDisabledColor : #F1EFEF;
}

.comboText{
	color:#4f6dad;
	font-weight:normal;
}
/*
CursorManager
{
	busyCursor: Embed(skinClass="CursorManager_busyCursor");
}*/

/*
DataGrid
{
	columnDropIndicatorSkin: Embed(skinClass="DataGrid_columnDropIndicatorSkin");
	columnResizeSkin: Embed(skinClass="DataGrid_columnResizeSkin");
	headerBackgroundSkin: Embed(skinClass="DataGrid_headerBackgroundSkin");
	headerSeparatorSkin: Embed(skinClass="DataGrid_headerSeparatorSkin");
	sortArrowSkin: Embed(skinClass="DataGrid_sortArrowSkin");
	stretchCursor: Embed(skinClass="DataGrid_stretchCursor");
	horizontalGridLines: true;
    horizontalGridLineColor: #B9D1F1;
    padding-top:3;
    borderColor: #8BB4E0;
    border-style:solid;
    border-sides: top bottom;
    alternatingItemColors: #ffffff, #ffffff;
    verticalGridLines: true;
    verticalGridLineColor: #B9D1F1;
    useRollOver: true; 
    rollOverColor: #B9D1F1;
    text-align:center;
    headerStyleName: "mydataGridHeaderStyle";
}
*/

AdvancedDataGrid
{
	horizontalGridLines: true;
    horizontalGridLineColor: #B7BABC;
    verticalGridLines: true;
    verticalGridLineColor: #B7BABC;
}

.mydataGridHeaderStyle {
   color: #4f6dad;
   font-weight: normal;
   text-align:center;
}

DateChooser
{
	nextMonthSkin: Embed(skinClass="DateChooser_nextMonthSkin");
	nextYearSkin: Embed(skinClass="DateChooser_nextYearSkin");
	prevMonthSkin: Embed(skinClass="DateChooser_prevMonthSkin");
	prevYearSkin: Embed(skinClass="DateChooser_prevYearSkin");
	rollOverIndicatorSkin: Embed(skinClass="DateChooser_rollOverIndicatorSkin");
	selectionIndicatorSkin: Embed(skinClass="DateChooser_selectionIndicatorSkin");
	todayIndicatorSkin: Embed(skinClass="DateChooser_todayIndicatorSkin");
	borderColor: #FFFFFF; 
	headerColors: #FFFFFF, #FFFFFF;
	headerStyleName: dateheader;
	horizontalGap :5;
	verticalGap: 6;
	weekDayStyleName: dateChooserWeekDay;
	top:2;
}

.dateheader {
	color : #000000;
	font-weight:bold;
	
	
}
.dateChooserWeekDay
{
	color: #2F499D;
	font-size:11;
	font-family : "-윤고딕330";
}


DateField
{
	skin: Embed(skinClass="DateField_skin");
	disabledColor: #9ba0a1;
	font-family : "-윤고딕330"; 
}
/*
DividedBox
{
	dividerSkin: Embed(skinClass="DividedBox_dividerSkin");
	horizontalCursor: Embed(skinClass="DividedBox_horizontalCursor");
	verticalCursor: Embed(skinClass="DividedBox_verticalCursor");
}
DragManager
{
	copyCursor: Embed(skinClass="DragManager_copyCursor");
	defaultDragImageSkin: Embed(skinClass="DragManager_defaultDragImageSkin");
	linkCursor: Embed(skinClass="DragManager_linkCursor");
	moveCursor: Embed(skinClass="DragManager_moveCursor");
	rejectCursor: Embed(skinClass="DragManager_rejectCursor");
}
FormItem
{
	indicatorSkin: Embed(skinClass="FormItem_indicatorSkin");
}
*/
/*  HScrollBar
{
	downArrowSkin: Embed(skinClass="HScrollBar_downArrowSkin");
	thumbIcon: Embed(skinClass="HScrollBar_thumbIcon");
	thumbSkin: Embed(skinClass="HScrollBar_thumbSkin");
	trackSkin: Embed(skinClass="HScrollBar_trackSkin");
	upArrowSkin: Embed(skinClass="HScrollBar_upArrowSkin");
}  */
.LinkButton
{
	paddingLeft: 3;
	paddingRight: 3;
	horizontalGap: 1;
	rollOverColor: #FFFFFF;
	selectionColor: #FFFFFF;
	color: #333333;
	fontWeight: normal;
	textRollOverColor: #008CCD;
	textSelectedColor: #004FA7;
}

.LinkBar
{
	horizontalGap: 20;
	rollOverColor: #f1f1f1;
	selectionColor: #f1f1f1;
	color: #003366;
	fontWeight: normal;
	font-size:11;
	textRollOverColor: #008CCD;
	textSelectedColor: #004FA7;
}
/*
List
{
	borderSkin: Embed(skinClass="List_borderSkin");
}*/

Menu
{
	branchDisabledIcon: Embed(skinClass="Menu_branchDisabledIcon");
	branchIcon: Embed(skinClass="Menu_branchIcon");
	checkDisabledIcon: Embed(skinClass="Menu_checkDisabledIcon");
	checkIcon: Embed(skinClass="Menu_checkIcon");
	radioDisabledIcon: Embed(skinClass="Menu_radioDisabledIcon");
	radioIcon: Embed(skinClass="Menu_radioIcon");
	separatorSkin: Embed(skinClass="Menu_separatorSkin");
	verticalScrollBarStyleName: menuVerticalScrollBar;
	fontWeight: normal;
	color: #0B333C;
	textRollOverColor: #2B333C;
	textSelectedColor: #2B333C;
	disabledColor: #AAB3B3;
	font-size:12;
	font-family : "-윤고딕330";
}

MenuBar
{	
	color:#FFFFFF; 
	textRollOverColor: #2B333C;
	textSelectedColor: #2B333C;
	
	backgroundSkin: Embed(skinClass="MenuBar_backgroundSkin");
	itemSkin: Embed(skinClass="MenuBar_itemSkin");
	
	font-size:14;
	fontFamily : "-윤고딕330";
    embedFonts: true;
}

NumericStepper
{
	downArrowSkin: Embed(skinClass="NumericStepper_downArrowSkin");
	upArrowSkin: Embed(skinClass="NumericStepper_upArrowSkin");
}


.myTitleStyle {
   fontFamily : "-윤고딕330";
   embedFonts: true;
   fontSize: 14;
   color: #2e3d97;
   textIndent: 22;
   }
  
/* 
PopUpButton
{
	popUpIcon: Embed(skinClass="PopUpButton_popUpIcon");
	skin: Embed(skinClass="PopUpButton_skin");
}
ProgressBar
{
	barSkin: Embed(skinClass="ProgressBar_barSkin");
	indeterminateSkin: Embed(skinClass="ProgressBar_indeterminateSkin");
	trackSkin: Embed(skinClass="ProgressBar_trackSkin");
}*/

RadioButton
{
	icon: Embed(skinClass="RadioButton_icon");
}
/*
Slider
{
	thumbSkin: Embed(skinClass="Slider_thumbSkin");
	trackHighlightSkin: Embed(skinClass="Slider_trackHighlightSkin");
	trackSkin: Embed(skinClass="Slider_trackSkin");
}
SWFLoader
{
	brokenImageSkin: Embed(skinClass="SWFLoader_brokenImageSkin");
}
*/
.HTabNavigator { 
   tabHeight: 26;
   horizontalGap: 4;
   paddingLeft: 4;
   borderStyle: solid;
   borderColor: #5149B0;
   tabStyleName: "mySelectedTabs";
   selectedTabTextStyleName: "tabBarTab";
}
.tabBarTab
{

	textRollOverColor: #004cff;
    fontWeight: bold;
	color: #004cff;
	textDecoration: underline;
}
.mySelectedTabs {
	skin: Embed(skinClass="TabBar$tab_skin");	
   color: #073fc3;
   textRollOverColor: #004cff;
   font-weight:normal;
   textDecoration: none;
}

.HTabBar
{
	horizontalGap: 4;
	tabStyleName: "tabBarTab";
	firstTabStyleName: "tabBarTab";
	lastTabStyleName: "tabBarTab";
	selectedTabTextStyleName: "mySelectedTabs";
}

.mandatoryTextInput {
   borderStyle: inset;
   borderColor: #5a6cbd;
   backgroundColor: #a9b5eb;
   color:#333366;
   disabledColor: #000000;
   backgroundDisabledColor : #F1EFEF;   
}
.readTextInput {
   borderStyle: inset;
   backgroundColor: #F1EFEF;
   color:#000000; 
}
/*
ToolTip
{
	backgroundnotexported: Embed(skinClass="ToolTip_backgroundnotexported");
	borderSkin: Embed(skinClass="ToolTip_borderSkin");
}*/

ToolTip{
	font-size: 11;
}
Tree
{
	borderSkin: Embed(skinClass="Tree_borderSkin");
	defaultLeafIcon: Embed(skinClass="Tree_defaultLeafIcon");
	disclosureClosedIcon: Embed(skinClass="Tree_disclosureClosedIcon");
	disclosureOpenIcon: Embed(skinClass="Tree_disclosureOpenIcon");
	folderClosedIcon: Embed(skinClass="Tree_folderClosedIcon");
	folderOpenIcon: Embed(skinClass="Tree_folderOpenIcon");
	paddingLeft : 5;
}

/* VScrollBar
{
	downArrowSkin: Embed(skinClass="VScrollBar_downArrowSkin");
	thumbIcon: Embed(skinClass="VScrollBar_thumbIcon");
	thumbSkin: Embed(skinClass="VScrollBar_thumbSkin");
	trackSkin: Embed(skinClass="VScrollBar_trackSkin");
	upArrowSkin: Embed(skinClass="VScrollBar_upArrowSkin");
} */



/*
//------------------------------
//  Class
//------------------------------
*/

.bottomBG{
	backgroundColor: #213a7b;
	cornerRadius: 5;
	borderStyle: solid;
	borderColor: #213a7b;
	vertical-align:middle;
	padding-left:3;
	padding-right:3;
	dropShadowEnabled: true;
    dropShadowColor: #677481;

}

.news
{	
	vertical-align:middle;
	padding-left:80;
	borderSkin: Embed(skinClass="news_canvas");
	
}

Panel 
{
	titleStyleName: "mypanelTitle";
}
.mypanelTitle 
{
	fontFamily:"-윤고딕330";
}
		
.commonBtnBG
{
	borderSkin: Embed(skinClass="Canves_commonBtn_BG");
	padding-left :35;
}
.mainPanel
{
    headerHeight: 22;
	titleStyleName: "mainPanelTitleStyle";
	border-skin : Embed(skinClass="Panel_borderSkin");
	titleBackgroundSkin : Embed(skinClass="Panel_titleSkin2");
	padding-bottom:10;
   	padding-top:10;
   	padding-left:10;
   	padding-right:10;
}
.mainPanelTitleStyle {
   fontFamily : "-윤고딕330";
   embedFonts: true;
   fontSize: 12;
   color: #FFFFFF;
   textIndent: 16;
   }
   
   
.DateCanvas
{
	borderSkin: Embed(skinClass="Canvas_Dateskin");
}
.RadiusCanvasOut
{
	cornerRadius:           1;
    borderStyle:            "solid";
    borderColor : #e0e0e0 ;
    backgroundColor : #f0f0f0;
    borderThickness:1;
    padding-bottom:3px;
    padding-top:3px;
    padding-left:3px;
    padding-right:3px;
}
.LeftCanvasIn
{
	cornerRadius:           3;
    backgroundColor : #abbddd;
    borderStyle:            "solid";
	borderThickness:0;
}
.LeftCanvasOut
{
	cornerRadius:           5;
    borderStyle:            "solid";
    borderColor : #96acd4 ;
    backgroundColor : #abbddd;
    borderThickness:1;
    padding-bottom:3px;
    padding-top:3px;
    padding-left:3px;
    padding-right:1px;
    dropShadowEnabled: true;
    dropShadowColor: #677481;
}
.LeftTitle
{
	background-image:Embed(source="assets/img/left_topBG.png"); 
	 fontFamily : "-윤고딕330"; 
	fontSize:16;
	color:#FFFFFF;
	horizontal-align:center;
	vertical-align:middle;
	padding-top : 3px;
}
.LeftSubTitle
{
	fontFamily : "-윤고딕330";
	fontSize:13;
	horizontal-gap:5;
	vertical-align:middle;
}
.LeftStork
{
	stroke-width:1;
	stroke-color : #d6e2ee;
	shadow-color : #d6e2ee;
}

.RadiusCanvasIn
{
	cornerRadius:           1;
    backgroundColor : #FFFFFF;
    borderStyle:            "solid";
	borderThickness:0;
}
.chartsPanel {
	borderStyle: solid;
	borderColor: #cedcf7;
	borderAlpha: 1;
	borderThickness: 1;
	roundedBottomCorners: true;
	cornerRadius: 5;
	backgroundAlpha: .8;
	backgroundColor: #ecf3ff;
	dropShadowEnabled: false;
	padding-bottom: 3;
	padding-top: 3;
	padding-left: 3;
	padding-right: 3;
	vertical-gap:0;
}

.chartspanelTitle {
   fontFamily : "-윤고딕330";
   embedFonts: true;
   color : #02305b;
   fontSize: 13;
}

.chartsCanvasIn
{
	cornerRadius:           5;
	borderStyle:            "solid";
	borderThickness:1;
	borderColor: #d3e2fe;
    backgroundColor : #FFFFFF;
    padding-bottom: 8;
	padding-top: 8;
	padding-left: 8;
	padding-right: 8;
	vertical-align:middle;
	horizontal-align:center;
}
.chartsCanvas
{
	cornerRadius:           5;
	borderStyle:            "solid";
	borderThickness:1;
	borderColor: #b7c9e1;
    backgroundColor : #e5effb;
    padding-bottom: 8;
	padding-top: 8;
	padding-left: 8;
	padding-right: 8;
}
.searchLable
{
	color:#4f6da8;
	font-weight: bold;
	font-size:12;
	
}
/*
//------------------------------
//  MDI
//------------------------------
*/
MDIWindow
{
 	/* windowControlsClass: ClassReference("solbandframework.mdi.containers.WindowsXPControls");  */
	windowControlsClass: ClassReference("windowControls.WindowsXPControls");
	
	minimizeBtnStyleNameNoFocus: "mdiWindowMinimizeBtnNoFocus";
	maximizeBtnStyleNameNoFocus: "mdiWindowMaximizeBtnNoFocus";
	restoreBtnStyleNameNoFocus: "mdiWindowRestoreBtnNoFocus";
	closeBtnStyleNameNoFocus: "mdiWindowCloseBtnNoFocus";
}

.MDITitleStyleFocus
{
   fontFamily : "-윤고딕330";
   embedFonts: true;
   fontSize: 13;
   color: #2e3d97;
}
.MDITitleStyleNoFocus
{
   fontFamily : "-윤고딕330";
   embedFonts: true;
   fontSize: 13;
   color: #000000;
/*    color: #666666; */
}

.mdiWindowFocus
{
   	borderColor: #b0b8e1;
   	borderAlpha: 1;
   	borderThicknessLeft: 3;
   	borderThicknessTop: 0;
   	borderThicknessBottom: 3;
   	borderThicknessRight: 3;
   	roundedBottomCorners: false;
   	cornerRadius: 5;
   	headerHeight: 27;
   	highlightAlphas: 0, 0;
   	headerColors: #c6dcf0, #a9bce1;
   	dropShadowColor: #677481;
   	padding-bottom:10;
   	padding-top:10;
   	padding-left:10;
   	padding-right:10;
   	vertical-align:middle;
   	horizontal-align:cneter;
   	titleStyleName: "MDITitleStyleFocus";
}

.mdiWindowNoFocus
{
 	borderColor: #d5d5d5; 
/* 	borderColor: #FFCC00; */
   	borderAlpha: 1;
   	borderThicknessLeft: 3;
   	borderThicknessTop: 0;
   	borderThicknessBottom: 3;
   	borderThicknessRight: 3;
   	roundedBottomCorners: false;
   	cornerRadius: 5;
   	headerHeight: 27;
 	highlightAlphas: 0.1, 0;
    headerColors: #ececec, #d5d5d5; 
/* 	headerColors: #FEEBA3, #FFCC00; */
   	dropShadowColor: #677481;
   	padding-bottom:10;
   	padding-top:10;
   	padding-left:10;
   	padding-right:10;
   	vertical-align:middle;
   	horizontal-align:cneter;
   	titleStyleName: "MDITitleStyleNoFocus";
	
}

	
	
	
.mdiWindowMinimizeBtn
{
	upSkin:        Embed(source="assets/img/icon_minimize_Focus.png");
	overSkin:      Embed(source="assets/img/icon_minimize_Focus.png");
	downSkin:      Embed(source="assets/img/icon_minimize_Focus.png");
	disabledSkin:  Embed(source="assets/img/icon_minimize_Focus.png");
}

.mdiWindowMinimizeBtnNoFocus
{
	upSkin:        Embed(source="assets/img/icon_minimize_NoFocus.png");
	overSkin:      Embed(source="assets/img/icon_minimize_NoFocus.png");
	downSkin:      Embed(source="assets/img/icon_minimize_NoFocus.png");
	disabledSkin:  Embed(source="assets/img/icon_minimize_NoFocus.png");
}

.mdiWindowMaximizeBtn
{
	upSkin:        Embed(source="assets/img/icon_maximize_Focus.png");
	overSkin:      Embed(source="assets/img/icon_maximize_Focus.png");
	downSkin:      Embed(source="assets/img/icon_maximize_Focus.png");
	disabledSkin:  Embed(source="assets/img/icon_maximize_Focus.png");
}

.mdiWindowMaximizeBtnNoFocus
{
	upSkin:        Embed(source="assets/img/icon_maximize_NoFocus.png");
	overSkin:      Embed(source="assets/img/icon_maximize_NoFocus.png");
	downSkin:      Embed(source="assets/img/icon_maximize_NoFocus.png");
	disabledSkin:  Embed(source="assets/img/icon_maximize_NoFocus.png");
}

.mdiWindowRestoreBtn
{
	upSkin:        Embed(source="assets/img/icon_restore_Focus.png");
	overSkin:      Embed(source="assets/img/icon_restore_Focus.png");
	downSkin:      Embed(source="assets/img/icon_restore_Focus.png");
	disabledSkin:  Embed(source="assets/img/icon_restore_Focus.png");
}

.mdiWindowRestoreBtnNoFocus
{
	upSkin:        Embed(source="assets/img/icon_restore_NoFocus.png");
	overSkin:      Embed(source="assets/img/icon_restore_NoFocus.png");
	downSkin:      Embed(source="assets/img/icon_restore_NoFocus.png");
	disabledSkin:  Embed(source="assets/img/icon_restore_NoFocus.png");
}

.mdiWindowCloseBtn
{
	upSkin:        Embed(source="assets/img/icon_close_Focus.png");
	overSkin:      Embed(source="assets/img/icon_close_Focus.png");
	downSkin:      Embed(source="assets/img/icon_close_Focus.png");
	disabledSkin:  Embed(source="assets/img/icon_close_Focus.png");
}

.mdiWindowCloseBtnNoFocus
{
	upSkin:        Embed(source="assets/img/icon_close_NoFocus.png");
	overSkin:      Embed(source="assets/img/icon_close_NoFocus.png");
	downSkin:      Embed(source="assets/img/icon_close_NoFocus.png");
	disabledSkin:  Embed(source="assets/img/icon_close_NoFocus.png");
}


/*
//------------------------------
//  Charts
//------------------------------
*/

.ChartaxisTitle
{
	color:#333333;
	font-size:12;	
}

ColumnChart 
{
 	chartSeriesStyles: PCCSeries1, PCCSeries2;
    axisTitleStyleName:"ChartaxisTitle";

}
.PCCSeries1 {	
     fills: #FF0033, #FF3333, #FF6633;
}
.PCCSeries2 {
    fill: #CCFF99;
 }

.GridLines
{
	horizontalChangeCount : 1;
	verticalChangeCount : 1;
	direction:"both";
	horizontalFill:#f4f4f4;
    horizontalAlternateFill:#fFfFff; 
}




.VTabSkin
{
	tabHeight: 22;
   	horizontalGap: 1;
   	paddingLeft: 3;
   	padding-top :3;
   	padding-right:3;
   	padding-bottom:3;
   	borderStyle: solid;
   	borderColor: #85a0d1;
   	tabStyleName: "VtabBarTab";
   	selectedTabTextStyleName: "mySelectedVTabs";
	fontFamily: myFont;
	fontSize: 13pt;
	embedFonts: true;
}
.VtabBarTab
{
	skin: Embed(skinClass="TabBar_Vtab_skin");
	textRollOverColor: #FFFFFF;
    fontWeight: none;
	color: #FFFFFF;
	textDecoration: none;
}
.mySelectedVTabs {
   color: #073fc3;
   textRollOverColor: #004cff;
   font-weight:normal;
   textDecoration: none;
}

.VTabBoxFont{
	color: #333333; 
    font-size:12;
    font-family : "돋움";	
}

.errorTip { font-size: 11; }

/*검색의 헤더박스*/
.HeaderBox
{
	borderStyle: solid;
   	borderColor: #b7babc;
	borderThickness:5;
}


/*검색 헤더 박스 텍스트(lable)*/
.HeaderContentText
{
	color:#FFFFFF;
	font-size:12;
	font-weight:bold;
}

/*테이블 VBox*/
.TableVBox
{
	verticalGap:-1;
}

/*테이블 HBox*/
.TableHBox 
{
	horizontalGap:-1;
}
/* 데이터 그리드 헤더 센터 정렬 */
.datagridheaderstyle{
	textAlign:"center";
	font-weight:bold;
}

.CanvasLayout{
	borderStyle: solid;
   	borderColor: #FFFFFF;
}

.VBoxLayout{
	borderStyle: solid;
   	borderColor: #FFFFFF;
}

.VBoxLayout{
	borderStyle: solid;
   	borderColor: #FFFFFF;
}

.CanvasColorTableItem{
	backgroundColor:#8BB4E0; 
	backgroundAlpha:0.1; 
	borderStyle:solid;
}
